@using Web_CuaHangCafe.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbQuanTriVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    ViewData["Admin"] = "active";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="page-header">
                <h3 class="page-title">Quản lí tài khoản truy cập</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>
            <a asp-action="Create" class="btn btn-secondary">Thêm mới</a>
        </p>
        <p id="status-message">@TempData["Message"]</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên người dùng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem =>item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNguoiDung)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id" asp-route-name="@item.TenNguoiDung">Thay đổi thông tin đăng nhập</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @Html.PagedListPager(Model, page=>Url.Action("Index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions()
    {
        MaximumPageNumbersToDisplay = 5,
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })
</div>
