<header class="header fixed-top" id="header-navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a a asp-controller="Home" asp-action="Index"><i class="fa fa-coffee" aria-hidden="true"></i> The Space Coffee</a>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="@ViewData["Home"]"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li class="@ViewData["Products"]"><a asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                        <li class="@ViewData["News"]"><a asp-controller="News" asp-action="Index">Tin tức</a></li>
                        <li class="@ViewData["About"]"><a a asp-controller="About" asp-action="Index">Giới thiệu</a></li>
                        <li class="@ViewData["Contact"]"><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3">
                <div class="header__right">
                    <ul class="header__right__widget">
                        <li>
                            <span class="icon_search search-switch" title="Tìm kiếm"></span>
                        </li>
                        <li>
                            @await Component.InvokeAsync("ShoppingCartSummary")
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

<div class="header__behind"></div>
