@using Web_CuaHangCafe.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbHoaDonBan>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Quản lí hoá đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="page-header">
                <h3 class="page-title">Quản lí hoá đơn</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="search-field">
                @using (Html.BeginForm("Search", "Bill", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="date" class="form-control" name="search" style="border:none" autocomplete="off" placeholder="Tìm kiếm">
                        <button class="btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã hoá đơn</th>
                        <th>Ngày bán</th>
                        <th>Số điện thoại khách hàng</th>
                        <th>Tổng tiền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaHoaDon)
                            </td>
                            <td>
                                @(item.NgayBan.Value.ToString("dd/MM/yyyy"))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TongTien) &#8363;
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.MaHoaDon" asp-route-name="@item.MaHoaDon">Xem</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @Html.PagedListPager(Model, page=>Url.Action("index", new {page = page}), new PagedListRenderOptions()
    {
        MaximumPageNumbersToDisplay = 5,
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })
</div>
