@using Web_CuaHangCafe.Models
@using Web_CuaHangCafe.ViewModels
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ProductViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="page-header">
                <h3 class="page-title">Danh sách sản phẩm</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="search-field">
                @using (Html.BeginForm("Search", "HomeAdmin", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" style="border:none" placeholder="Tìm kiếm" autocomplete="off">
                        <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>
            <a asp-action="Create" class="btn btn-secondary">Thêm mới</a>
        </p>
        <p id="status-message">@TempData["Message"]</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Loại sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSanPham)
                            </td>
                            <td>
                                <img src=@Url.Content("../img/products/" + item.HinhAnh) style="width: 80px;height: 80px;border-radius: 0;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiSanPham)
                            </td>
                            <td>
                                @(item.GiaBan.Value.ToString("n0")) &#8363;
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.MaSanPham" asp-route-name="@item.TenSanPham">Xem</a>
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.MaSanPham" asp-route-name="@item.TenSanPham">Sửa</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MaSanPham">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @Html.PagedListPager(Model, page=>Url.Action("index", new {page = page}), new PagedListRenderOptions()
    {
        MaximumPageNumbersToDisplay = 5,
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })
</div>
