@using Web_CuaHangCafe.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TbSanPham>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Kết quả tìm kiếm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-bottom:20px;">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="page-header">
                <h3 class="page-title">Kết quả tìm kiếm: <span style="color:#666;text-transform:capitalize;">@ViewBag.search</span></h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="search-field">
                @using (Html.BeginForm("Search", "HomeAdmin", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" style="border:none" placeholder="Tìm kiếm">
                        <button class="btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Loại sản phẩm</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSanPham)
                            </td>
                            <td>
                                @(item.GiaBan.Value.ToString("n0")) &#8363;
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNhomSp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.MaSanPham">Chi tiết</a>
                                <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.MaSanPham">Sửa</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MaSanPham">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @Html.PagedListPager(Model, page=>Url.Action("search", new {page = page, search = ViewBag.search}), new PagedListRenderOptions()
    {
        MaximumPageNumbersToDisplay = 5,
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })
</div>
