@{
    ViewData["Title"] = @Html.DisplayFor(model => model.TenSanPham);
    ViewData["Products"] = "active";
}

@model Web_CuaHangCafe.Models.TbSanPham

<!--Breadcrumb Begin-->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fas fa-home"></i>
                        Trang chủ
                    </a>
                    <a asp-controller="Products" asp-action="Index">Sản phẩm </a>
                    <span>@Html.DisplayFor(model => model.TenSanPham)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Product Details Section Begin-->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img class="product__big__img" src=@Url.Content("../../img/products/" + Model.HinhAnh) alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Html.DisplayFor(model => model.TenSanPham)</h3>
                    <div class="product__details__price">@Model.GiaBan.Value.ToString("n0") &#8363;</div>
                    <form id="myForm">
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="number" name="quantity" value="1">
                                </div>
                            </div>
                            <button asp-controller="cart"
                                    asp-action="add"
                                    asp-route-id="@Model.MaSanPham"
                                    class="cart-btn"
                                    type="submit">
                                <span>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </span> Thêm vào giỏ
                            </button>
                        </div>
                    </form>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Tên sản phẩm:</span>
                                <p>@Html.DisplayFor(model => model.TenSanPham)</p>
                            </li>
                            <li>
                                <span>Quy cách:</span>
                                <p>Chưa có thông tin</p>
                            </li>
                            <li>
                                <span>Thành phần:</span>
                                <p>Chưa có thông tin</p>
                            </li>
                            <li>
                                <span>Hạn sử dụng:</span>
                                <p>Chưa có thông tin</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#tabs-1" role="tab">Mô tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#tabs-2" role="tab">Thông tin chi tiết</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-1" role="tabpanel">
                            <h6>Mô tả</h6>
                            <p>
                                @Model.MoTa
                            </p>
                        </div>
                        <div class="tab-pane fade" id="tabs-2" role="tabpanel">
                            <h6>Thông tin chi tiết</h6>
                            <p>
                                Chưa có thông tin
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product Details Section End-->
