@model IEnumerable<CartItem>

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Giỏ hàng</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-items">
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td class="cart__product__item">
                                        <img src=@Url.Content("../img/products/" + item.AnhSp) alt="">
                                        <div class="cart__product__item__title">
                                            <h6>@item.TenSp</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price">@item.DonGia.Value.ToString("n0") &#8363;</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input class="quantity-input" type="number" data-product-id="@item.MaSp" value="@item.SoLuong">
                                        </div>
                                    </td>
                                    <td class="cart__total">@item.ThanhTien.Value.ToString("n0") &#8363;</td>
                                    <td>
                                        <a asp-action="RemoveToCart" asp-route-id="@item.MaSp"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Tổng tiền</h6>
                    <ul>
                        <li>Tổng <span>@ViewData["total"] &#8363</span></li>
                    </ul>
                    <form asp-controller="ShopCart" asp-action="Checkout" method="post">
                        <h6>Thông tin khách hàng</h6>
                        <label for="customerName">Tên:</label>
                        <input type="text" class="form-control" name="customerName" required />
                        <br />

                        <label for="phoneNumber">Số điện thoại:</label>
                        <input type="number" id="phoneNumber" class="form-control" name="phoneNumber" required />
                        <br />

                        <label for="address">Địa chỉ:</label>
                        <input type="text" id="address" class="form-control" name="address" required />
                        <br />

                        <button type="submit" class="primary-btn" style="border: none; padding: 15px 20px;">Thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->
